/target/
/logs/

# specific to IDE
.classpath

#folder contains results
test-output/

# idea inner folder
.idea/
Tests.iml

# eclipse inner folder
.settings/

# idea file
Login.iml
.bash_profile.swp

# specific to IDE
.project

.allure/

allure-results

Auto-updated

.bash_profile.swp